a, a:visited {
  color: blue;
}

.dark a, .dark a:visited {
  color: white;
}

.hidden {
  display: none;
}

.section-title {
  font-size: 16px;
  margin-bottom: 8px;
  font-weight: bold;
  cursor: pointer;
}

.section-title:before {
  content: 'v ';
}

.section-title.closed:before {
  content: '> ';
}

.logger-search {
  margin-bottom: 16px;
}

.logger-search input {
  background: none;
  border-left: none;
  border-top: none;
  border-right: none;
  font-family: monospace;
  outline: none;
}

button {
  background: none;
  font-family: monospace;
  font-weight: bold;
  margin-left: 8px;
  outline: none;
  cursor: pointer;
}

pre {
  visibility: hidden;
}

pre:before {
  content: 'Loading...';
  visibility: visible;
}

pre.fancy {
  visibility: visible;
}

pre.fancy:before {
  content: none;
}

.heading {
  font-weight: bold;
  background: none;
}

/** Dark **/

body.dark {
  background-color: #2b2b2b;
  color: #ffffff;
}

.dark .error {
  color: #ff6b68;
}

.dark .warning {
  color: #cdd637;
}

.dark .info {
  color: #46bbb9;
}

.dark .debug {
  color: #5ca72b;
}

.dark .verbose {
  color: #8a8a8a;
}

.dark .unknown {
  color: #ffffff;
}

.dark .understated {
  color: #dddddd;
}

.dark .section-title {
  color: #ffffff;
}

.dark .logger-search input {
  border-bottom: 2px solid #ffffff;
  color: #ffffff;
}

.dark button {
  border: 2px solid #ffffff;
  color: #ffffff;
}

.dark button:hover {
  background-color: #666666;
}

/** Light **/

body.light {
  background-color: #ffffff;
}

.light .error {
  color: #9f0000;
}

.light .warning {
  color: #e3a300;
}

.light .info {
  color: #00009f;
}

.light .debug {
  color: #007f00;
}

.light .verbose {
  color: #8a8a8a;
}

.light .unknown {
  color: #000000;
}

.light .understated {
  color: #333333;
}

.light .logger-search input {
  border-bottom: 2px solid #000000;
  color: #000000;
}

.light .logger-search button {
  border: 2px solid #000000;
  color: #000000;
}
